.header {
  max-width: 1460px;
  position: absolute;
  display: flex;
  padding: 33px 25px 0;
  box-sizing: border-box;
  width: 100%;
  top: 0;
  left: 50%;
  transform: translate(-50%,0%);

  @media (max-width: $tablet-width) {
    padding-top: 5px;
  }

  @media (max-width: $mobile-width) {
    padding-left: 17px;
    padding-right: 16px;
    padding-top: 17px;
  }
}

.header__logo {
  display: flex;
  text-align: left;

  @media (max-width: $mobile-width) {
    display: none;
  }
}

.header__logo--mobile {
  display: none;

  @media (max-width: $mobile-width) {
    display: block;
  }
}

.header h2 {
  font-family: "RobotoCondesed", sans-serif;
  font-weight: 700;
  font-size: 25px;
  line-height: 29px;
  color: $white;
  margin: 0;
}

.header p {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #788891;
  margin: 0;
}

.header__nav {
  padding-top: 17px;
  margin-left: auto;
  margin-right: 50px;

  @media (max-width: $tablet-width) {
    padding-top: 30px;
    margin-right: 0;
  }

  @media (max-width: $mobile-width) {
    padding-top: 11px;
  }
}

.header__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 430px;
  justify-content: space-between;

  @media (max-width: $tablet-width) {
    width: 83px;
    margin-top: -3px;
  }

  @media (max-width: $mobile-width) {
    width: 72px;
    margin-top: -6px;
  }
}

.header__list li:nth-child(n + 3) {
  margin-top: 10px;
}

.header__list li a {
  text-decoration: none;
  color: $white;
  position: relative;
  display: flex;
  align-items: center;

  &:hover {
    color: $basic;
  }
}

.header__list li span {
  @media (max-width: $tablet-width) {
    display: none;
  }
}

.header__mail svg {
  width: 19px;
  height: 14px;
  margin-right: 20px;

  @media (max-width: $tablet-width) {
    width: 25px;
    height: 19px;
  }

  @media (max-width: $mobile-width) {
    margin-right: 9px;
  }
}

.header__phone svg {
  width: 18px;
  height: 18px;
  margin-right: 17px;

  @media (max-width: $tablet-width) {
    margin-right: 0;
    width: 24px;
    height: 24px;
  }
}
