.product {
  min-height: 938px;
  background-color: $opacity-black;
  padding: 89px 19.6% 111px;
  box-sizing: border-box;

  @media (max-width: $tablet-width) {
    padding: 51px 25px 61px 25px;
  }

  @media (max-width: $mobile-width) {
    padding: 51px 15px 49px 15px;
  }
}

.product h2 {
  font-family: "RobotoCondesed", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
  color: $white;
  margin: 0;

  @media (max-width: $tablet-width) {
    width: 87%;
    font-size: 32px;
    line-height: 140.62%;
  }

  @media (max-width: $mobile-width) {
    font-size: 28px;
    width: auto;
    padding-left: 10px;
  }
}

.product__list {
  list-style: none;
  margin-top: 51px;
  padding: 0;
  display: flex;

  @media (max-width: $tablet-width) {
    flex-direction: column;
    margin-top: 49px;
  }

  @media (max-width: $mobile-width) {
    margin-top: 41px;
  }
}

.product__list li {
  margin-right: 30px;

  @media (max-width: $tablet-width) {
    margin-right: 0;
    margin-bottom: 46px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 29px;
  }
}

.product__item {
  width: 370px;
  min-height: 620px;
  padding-top: 30px;
  padding-left: 44px;
  box-sizing: border-box;
  position: relative;

  @media (max-width: $tablet-width) {
    width: 100%;
    min-height: 256px;
    padding-top: 20px;
  }

  @media (max-width: $mobile-width) {
    padding-left: 35px;
  }
}

.product__item a {
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
}

.product__list li:last-child {
  margin-right: 0;

  @media (max-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.product__item--first {
  background: url("../img/product_first.png");

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background: url("../img/product_first@2x.png") no-repeat;
    background-size: cover;
  }

  @media (max-width: $tablet-width) {
    background: url("../img/product_first-tablet.png");

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background: url("../img/product_first-tablet@2x.png") no-repeat;
      background-size: cover;
    }
  }

  @media (max-width: $mobile-width) {
    background: url("../img/product_first-mobile.png");

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background: url("../img/product_first-mobile@2x.png") no-repeat;
      background-size: cover;
    }
  }
}

.product__item--second {
  background: url("../img/product_second.png");

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background: url("../img/product_second@2x.png") no-repeat;
    background-size: cover;
  }

  @media (max-width: $tablet-width) {
    background: url("../img/product_second-tablet.png");

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background: url("../img/product_second-tablet@2x.png") no-repeat;
      background-size: cover;
    }
  }

  @media (max-width: $mobile-width) {
    background: url("../img/product_second-mobile.png");

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background: url("../img/product_second-mobile@2x.png") no-repeat;
      background-size: cover;
    }
  }
}

.product__item--third {
  background: url("../img/product_third.png");

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background: url("../img/product_third@2x.png") no-repeat;
    background-size: cover;
  }

  @media (max-width: $tablet-width) {
    background: url("../img/product_third-tablet.png");
    padding-top: 30px;
    padding-left: 45px;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background: url("../img/product_third-tablet@2x.png") no-repeat;
      background-size: cover;
    }
  }

  @media (max-width: $mobile-width) {
    background: url("../img/product_third-mobile.png");
    padding-left: 35px;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background: url("../img/product_third-mobile@2x.png") no-repeat;
      background-size: cover;
    }
  }
}

.product__item p {
  font-family: "RobotoCondesed", sans-serif;
  font-size: 20px;
  line-height: 30px;
  color: $white;

  @media (max-width: $mobile-width) {
    margin: 0;
  }
}
